{% include 'base.html' %}
<div id="'resume">
    <div id="title"><h1> RESUME </h1></div>

<h2> ANKITA MISHRA </h2>
<h2> Email ID: ankitamishra2617@gmail.com</h2>
<h2> Contact: 9365730232 </h2>
<h2> Address: Bangalore </h2>

<div id="sub"><h3> CAREER ABJECTIVE </h3></div>
 <p>
        Motivated MCA graduate seeking an opportunity in the IT industry where I can effectively utilize my programming
        and technical skills to solve real-world problems, gain hands-on experience, and continuously enhance my
        knowledge while contributing positively to the growth and success of the organization.
    </p>


<div id="sub"><h3>EDUCATION</h3></div>

<table id="edu">
    <tr>
        <td><ul><li>MCA – Presidency College(9.1 CGPA)</li></ul></td>
        <td>2024</td>
    </tr>
    <tr>
        <td><ul><li>BCA – DHSK College(8.4)</li></ul></td>
        <td>2022</td>
    </tr>
</table>


<div id="sub"><h3> PROFESIONAL SKILLS </h3></div>
<ul>
    <li>Python</li>
    <li>Django Framework</li>
    <li>Html</li>
    <li>Css</li>
    <li>Javascript</li>
    <li>SQL</li>
    <li>Git</li>
</ul>

<div id="sub"><h3> WORK EXPERIENCE </h3></div>
<ul><li>Freshers</li></ul>

<div id="sub"><h3> PROJECTS </h3></div>
<ul>
        <li>
            <b>MediShelf Monitor:</b>
            Medicine shelf monitoring system to track stock and expiry details,
            reducing wastage and improving safety in pharmacies and hospitals.
        </li>
        <li>
            <b>Resume Template:</b>
            Developed a resume template using Django framework,
            working with views, templates, and DTL concepts.
        </li>
</ul>
</div>
