{% extends 'base.html' %}

{% block title %}Resume | Ankita Mishra{% endblock %}

{% block content %}
<div class="resume">

<h1>Ankita Mishra</h1>
<h3>Python & Django Developer</h3>

<p class="contact">
<b>Email:</b>
<a href="mailto:ankitamishra2617mail@gmail.com">
ankitamishra2617mail@gmail.com
</a>
&nbsp;|&nbsp;

<b>GitHub:</b>
<a href="https://github.com/ankitamishra1703" target="_blank">
github.com/ankitamishra1703
</a>
<br>

<b>LinkedIn:</b>
<a href="https://www.linkedin.com/in/ankita-mishra-0a5837307/" target="_blank">
linkedin.com/in/ankita-mishra
</a>
</p>

<h2>Career Objective</h2>
<p>
Motivated MCA graduate with strong knowledge of Python and Django,
seeking an entry-level software developer role to build scalable
and real-world web applications.
</p>

<h2>Skills</h2>
<ul class="skills-list">
    <li>Python</li>
    <li>Django</li>
    <li>HTML, CSS, Bootstrap</li>
    <li>SQL / SQLite</li>
    <li>Git & GitHub</li>
</ul>

<h2>Technology Stack</h2>
<ul>
    <li><b>Backend:</b> Python, Django</li>
    <li><b>Frontend:</b> HTML, CSS, Bootstrap</li>
    <li><b>Database:</b> SQLite</li>
    <li><b>Tools:</b> Git, VS Code</li>
</ul>

<h2>Projects</h2>
<p>
<b>Portfolio Website</b><br>
• Developed a responsive personal portfolio using Django<br>
• Implemented reusable templates and dark mode
</p>


<h2>Certifications</h2>
<ul class="cert-list">
    <li>Python Programming Certification</li>
    <li>Django Web Development Certification</li>
    <li>SQL / Database Fundamentals Certification</li>
    <li>Git & GitHub Version Control Certification</li>
    <li>Web Development Basics Certification</li>
</ul>

<h2>Education</h2>
<p>
<b>Master of Computer Applications (MCA)</b> — 2023–2025 <br>
CGPA: <b>9.07</b> <br><br>
<b>Bachelor of Computer Applications (BCA)</b> — 2020–2023 <br>
CGPA: <b>8.41</b>
</p>



<a onclick="window.print()" class="resume-btn">Download PDF</a>

</div>
{% endblock %}
